
@media only screen and (min-width:320px) and (max-width:480px) {
    .webnav{
        display: none !important;
    }
    .buttons{
        top:20% !important;
        height:30px !important;
    }
    .welcomepic{
        width: 100%;
    }
    .discover{
        height:2000px;
    }
    #mobilenav{
        display: block !important;
    }
        
}
@media screen and (min-width:1320px) and (max-width:1360px) {
    .webnav{
        display: block;
    }
    #mobilenav{
        display: none !important;
    }
}
@media screen and (max-width:620px) {
 .hardware{
    margin-bottom: 30px;
 } 
 .Acceptances{
    padding-left: 20%;
 }
 .loya{
    margin-bottom: 30px;
    height:300px;
    padding-top:200px;
 }
 .explore{
    margin-bottom: 2000px;
 }
 #mobilenav{
    display: block;
 }
}