.buttons{
    position: absolute;
    right: 0;
    top:35%;
    border-radius: 10px;
}
.contact{
    background-color: #B32B31;
    height:60px;
    width:90%;
    font-size: 12px;
    color: white;
    border: none;
    display: block;
    margin-bottom: 2px;
    border-radius: 2%;
}
.contact:hover{
    background-color: white;
    color :blue;
    border: 1px #B32B31 solid;
    text-decoration: none;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    color: rgb(255, 255, 255);
    background-color: rgba(27, 27, 27, 0.884);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 70px;
    right: 45px;
    font-size: 60px;
    height: 60px;
    padding: 0;
    width:60px;
    position: 0;
    background-color: rgba(0, 0, 0, 0.37);
    color: brown;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
  @media screen and (max-width:720px) {
   .contact{
    display: block;
   } 
  }
  