.buttons{
    position: absolute;
    right: 0;
    top:35%;
}
.contact{
    background-color: rgba(179, 43,49, 1);
    height:70px;
    width:90%;
    font-size: 12px;
    color: white;
    border: none;
    display: block;
    margin-bottom: 2px;
    border-radius: 2%;
}